*{
    font-family: "Poppins", sans-serif;
}

:root{
    --primary-color:#cca967;
    --secondary-color:;
    --header-background-color:rgba(34, 34, 34, 0.8);
    --top-bar-background-color:#222222;
}

